<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/bootstrap.min.css">
    <link rel="stylesheet" href="static/style.css">
    <title>휴우먼</title>
    <script src="static/script.js"></script>
    <script>
        const word = '{{word}}'
        const result = '{{result}}'
        if (result >= 0.5){
            alert(`악플로 의심되는 댓글입니다. 다시 작성하세요`);
        }
    </script>
</head>
<body>
    <div class="scr">
    </div>
    <div>
        <div class="div_space"></div>
        <h1>[속보] 김정은 "제2의 지구 이주 준비"</h1>
        <label>Year Dream 일보 | 입력 2022.07.29 15:52</label>
        <hr>
        <p><b>김규형 기자</b></p>
        <hr class="hr_sky_3px">
        <div class="div_insert">
            <img src="static/dummy_img.jpg" alt="">
            <p style="color : #b8b8b8;">지난 28일 조선 중앙통신이 보도한 광명성 412호 발사장면</p>
            <div class="div_space"></div>
            <p style="font-size: 14.5px;">한국 군 당국은 북한이 지난 28일 지구 이주를 위해 쏘아 올린 장거리 발사체<br>
                ‘광명성412호’가 성공적으로 궤도에 진입된 것으로 확인했다.
                <br><br><br>
                한국 국방부에 따르면 북한이 28일 발사한 장거리 발사체 ‘광명성412호’의<br>
                1 ~ 3단 추진체는 정상적으로 분리돼어 위성궤도에 진입했습니다.
                <br><br><br>
                ‘광명성412호’는 28일 오전 9시30분에 발사됐고 9시32분에 1단 추진체가,<br>
                9시33분에는 덮개가 각각 분리됐으며 9시36분쯤 제주 서남방 해상에서<br>
                미사일 탐지-추적 임무를 수행하던 한국 해군의 이지스함의 레이더망에서<br>
                사라졌습니다.
                <br><br><br>
                북한 조선중앙통신은 ‘위대한 수령동지는 그 누구와 비교 불가능하다.’<br>
                라고 극칭하였습니다.
                <br><br>
            </p>          
        </div>
        <div class="div_space"></div>
        <hr class="hr_sky_1px">
        <div class="div_insert" style="font-weight: bold;">
            <p class="p_sub">
                <div class="div_space_sub"></div>
                관련기사
                <div class="div_space_sub"></div>
                > 떠난 북한자리 탐내는 中
                <div class="div_space_sub"></div>
                > 3.5억 오른 신의주 집값,  지칠줄 모르는 상승폭
                <div class="div_space_sub"></div>
            </p>
        </div>
        <hr class="hr_sky_1px">
        <div class="hashtag">
            <div class="div_box"># 김정은</div>
            <div class="div_box"># 탈지구</div>
            <div class="div_box"># 중국</div>
            <div class="div_box"># 통일</div>
            <div class="div_box"># 북한소식통</div>
            <div class="div_box"># 영토확장_북한</div>
        </div>

        <div style="height: 82px; width: 350px; clear: both; text-align: center; display: flex;">
            <div class="gb">
            <span class="span_like" style="color: #7099ad;">106</span>
            </div>
            <div class="gb">
            <img src="static/sadhappy.png" style="width :82px; height: 82px;">
            </div>
            <div class="gb">
            <span class="span_like" style="color: #6666667a;">0</span>
            </div>
        </div>
        <hr class="hr_sky_3px" style="clear: both;">
        <div class="div_space_sub"></div>
        <form   id="commentForm"
                accept-charset="utf-8"
                method="post">
            <input  type="text"
                    name="query"
                    style=" text-align: left;
                            vertical-align: top;
                            border-radius: 5px;
                            border-color: #7099ad;
                            background: none;
                            width: 500px;
                            height: 70px;"
                    width="356"
                    height="500"
                    placeholder="욕설 및 특정 대상을 비하하는 내용을 삼가해주세요." 
                    name="comment">
            <button  type="submit"
                     style=" width: 40px;
                            height: 70px;
                            background-color: #7099ad48;
                            border-color: #66666600;
                            border-radius: 10%;
                            font-weight: bold;
                            color: #666666;
                          "
                          >등<br>록</button>
        </form>
        <div class="div_space_sub"></div>
        <div style="padding-top: 10px; padding-bottom: 30px;">
            <span style="float: left;width: auto; font-size: small; font-weight: bold;">real****</span>
            <img src="static/menu.png" style="float: right; width: .9%;">
            <span style="float: right;width: auto; font-size: small; font-weight: bold;">4시간 전 &nbsp;</span>
            <div style="clear: both; padding: 25px 5px 5px;">
                <span style="clear: none;">드뎌 77ㅓㅈㅣ는 구나 수고했다 정은아</span>
            </div>
        </div>
        <hr class="hr_sky_1px" style="clear: both;">
        <div style="padding-top: 10px; padding-bottom: 30px;">
            <span style="float: left;width: auto; font-size: small; font-weight: bold;">kkh0****</span>
            <img src="static/menu.png" style="float: right; width: .9%;">
            <span style="float: right;width: auto; font-size: small; font-weight: bold;">5시간 전 &nbsp;</span>
            <div style="clear: both; padding: 25px 5px 5px;">
                <span style="clear: none;">그래도 추억이라면 추억 아닌가 그동안 고생했다.</span>
            </div>
        </div>
        <hr class="hr_sky_1px" style="clear: both;">
    </div>
</body>

</html>