<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/bootstrap.min.css">
    <link rel="stylesheet" href="static/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="end-top">
            <!-- .inner -->
            <div class="inner">
                <!-- .col-main -->
                <div class="col-main ">
                    <div class="ttl ">
            <a href=""></a>
        </div>
<h2 class="title"> 선 넘은 금리... 신용대출 6%, 주담대 4% 돌파</h2>
    <div class="info">
        <dl>
            <dt>입력</dt>
            <dd>2022.07.29 14:00</dd>

            <dt>수정</dt>
                <dd>2022.07.29 14:08</dd>
            </dl>
        </div>
    </div>
                <!-- // .col-main -->
                <!-- .col-sub -->
                <div class="col-sub">
                    <div class="tool-bar">
    <!-- .tooltip-box -->
    <div class="tooltip-box">
        <button type="button" class="btn-like-all open-tip">
            <span class="blind">좋아요</span>
        </button>
        <!-- .like-detail -->
        <div class="like-detail tooltip">
            <ul>
                <li class="like" id="likeCntLi">1</li>
                <li class="unlike" id="dislikeCntLi">0</li>
            </ul>
        </div>
        <!-- // .like-detail -->
    </div>
    <!-- // .tooltip-box -->
    <span class="count" id="sympathyCntSpan">1</span>
    <button type="button" class="btn-comment">
        <span class="blind">댓글달기</span>
    </button>
    <span class="count" id="commentCntSpan">0</span>
</div>
<div class="summary-area">
                            <p>6월 가계대출 금리 9년 만에 최고<br>빚투족 '이자 폭탄' 불가피</p>
                                </div>
                    </div>
                <!-- // .col-sub -->
            </div>
        </div>
    </header>
    <div class="container">
        <div class="left">공백 또는 광고</div>
        <div class="main">메인 내용입니다</div>
        <div class="right">추가로 제공되는 컨텐츠</div>
    </div>
</body>
</html>